* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

.frameContainer { 
  margin: 15px;
  padding: 10px;
  background-color: rgba(216, 84, 128, 0.062);
  border-left-width: 2px;
  border-left-style: solid;
  border-radius: 3px;
}
