* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: gray;
}

#mainWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#codeEditor {
  width: 100%;
}

#runBtn {
}
